# point out to users at commit time that commits need to be signed,
# not once they've done many commits and are trying to push a PR:
git config --local commit.gpgSign true
git config --local tag.gpgSign true

## exports that are required to get it running
export MOCK_REGISTRATIONS_FILE="${MOCK_REGISTRATIONS_FILE:=./res/mock-bridge-data/default-registrations.json}"
export ADDRESSES_JSON="${ADDRESSES_JSON:=./res/qanet/addresses.json}"
export CHAIN_SPEC="${CHAIN_SPEC:=local}"
export EARTHLY_CONFIG=$PWD/.earthly/config.yml

## for making sure the npm test works
export COMPACTC_VERSION=$(cat util/toolkit-js/COMPACTC_VERSION)

if [[ -f "$PWD/.envrc.local" ]]; then
  echo direnv: using .envrc.local
  source "$PWD/.envrc.local"
fi

if [[ ! -d util/toolkit-js/dist ]] || [[ ! -d util/toolkit-js/test/contract/managed/counter ]]; then
    BRED='\033[1;31m'  # Bold Red
    RED='\033[0;31m'   # Red
    GREEN='\033[0;32m' # Green
    NC='\033[0m'       # No Color
    printf "${BRED}WARNING:${RED} toolkit-js artifacts are missing${NC}, ${GREEN}cargo test${NC} ${RED}will fail!${NC} To generate them, run:\n$ ${GREEN}earthly --secret GITHUB_TOKEN=<github-token-here> +toolkit-js-prep-local${NC} # Tip: Add it to your .envrc.local\n\n"
fi

export MIDNIGHT_LEDGER_TEST_STATIC_DIR=$PWD/static/contracts
