# point out to users at commit time that commits need to be signed,
# not once they've done many commits and are trying to push a PR:
git config --local commit.gpgSign true
git config --local tag.gpgSign true

## exports that are required to get it running
export MAIN_CHAIN_FOLLOWER_MOCK_REGISTRATIONS_FILE="${MAIN_CHAIN_FOLLOWER_MOCK_REGISTRATIONS_FILE:=./res/mock-bridge-data/default-registrations.json}"
export ADDRESSES_JSON="${ADDRESSES_JSON:=./res/qanet/addresses.json}"
export CHAIN_SPEC="${CHAIN_SPEC:=local}"
export EARTHLY_CONFIG=$PWD/.earthly/config.yml
export NETRC="${NETRC:=~/.netrc}"
export EARTHLY_SECRET_FILES="netrc=$NETRC"

if [[ -f "$PWD/.envrc.local" ]]; then
  echo direnv: using .envrc.local
  source "$PWD/.envrc.local"
fi

export MIDNIGHT_LEDGER_TEST_STATIC_DIR=$PWD/static/contracts
