# point out to users at commit time that commits need to be signed,
# not once they've done many commits and are trying to push a PR:
git config --local commit.gpgSign true
git config --local tag.gpgSign true

if [[ -f ~/.midnight-indexer.envrc ]]; then
    echo direnv: using ~/.midnight-indexer.envrc
    source ~/.midnight-indexer.envrc
fi

if [[ -f "$PWD/.envrc.local" ]]; then
    echo direnv: using .envrc.local
    source "$PWD/.envrc.local"
fi
