name: +contract-precompiles (Build ledger test static data contracts and CI image)

on:
  workflow_dispatch:
  schedule:
    # Once a week
    - cron: "0 0 * * 0"
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true
jobs:
  build:
    name: Precompile contracts (${{ matrix.platform }})
    strategy:
      matrix:
        # Define matrix with platform and corresponding GitHub-hosted runner
        include:
          - platform: linux/amd64
            runner: ubuntu-latest-16-core-x64 # Default x86_64 GitHub-hosted runner
          - platform: linux/arm64
            runner: ubuntu-latest-8-core-arm64 # Native ARM64 GitHub-hosted runner (public preview)

    runs-on: ${{ matrix.runner }}

    env:
      FORCE_COLOR: 1
    steps:
      # Install Earthly
      - uses: EarthBuild/actions-setup@cae2d9ab68894d8402751fe42e07c7cca0272f7f
        with:
          version: v0.8.16
          github-token: ${{ github.token }}
          use-cache: false

      # Checkout the node repo
      - name: Checkout node repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      # Log in to GitHub Container Registry
      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  #v3.6.0

        with:
          registry: ghcr.io
          username: MidnightCI
          password: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

      # Run Earthly build with platform-specific flags
      - name: Run Earthly build for ${{ matrix.platform }}
        run: |
          # Force cargo to use CLI git instead of libgit2 (more robust in CI)
          mkdir -p "$HOME"/.cargo
          echo "[net]" >> "$HOME"/.cargo/config
          echo "git-fetch-with-cli = true" >> "$HOME"/.cargo/config

          # Run Earthly platform-specific image builds
          . ./.envrc && earthly --ci --platform=${{ matrix.platform }} --push +node-ci-image-single-platform
