name: Nightly Build Check

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build_node:
    name: Build Node against latest
    runs-on: ubuntu-latest
    timeout-minutes: 120
    env:
      FORCE_COLOR: 1
    outputs:
      node_result: ${{ steps.run_earthly.outputs.node_result }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - uses: EarthBuild/actions-setup@cae2d9ab68894d8402751fe42e07c7cca0272f7f
        with:
          version: v0.8.16
          github-token: ${{ github.token }}
          use-cache: false

      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  #v3.6.0

        with:
          registry: ghcr.io
          username: MidnightCI
          password: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

      - name: Cat the Cargo.toml
        run: cat ./Cargo.toml

      - name: Run check
        run: |
          mkdir -p "$HOME"/.cargo
          echo "[net]" >> "$HOME"/.cargo/config
          echo "git-fetch-with-cli = true" >> "$HOME"/.cargo/config

          . ./.envrc && earthly -P --ci --platform=linux/amd64 +node-image
