name: +audit (cargo deny + npm audit)

on:
  pull_request:
    branches: ["**"]
  push:
    branches: ["main"]
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true
jobs:
  run:
    name: cargo audit job
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
    steps:
      - uses: EarthBuild/actions-setup@cae2d9ab68894d8402751fe42e07c7cca0272f7f
        with:
          version: v0.8.16
          github-token: ${{ github.token }}
          use-cache: false

      - name: Checkout node repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  #v3.6.0

        with:
          registry: ghcr.io
          username: MidnightCI
          password: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

      - name: Run cargo deny and npm audit
        run: |
          . ./.envrc && earthly --ci +audit

      # TODO: Remove this checkout step once upload-sarif-github-action repo is made public
      - name: Checkout Upload action repository
        if: hashFiles('cargo-deny.sarif') != ''
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: midnightntwrk/upload-sarif-github-action
          ref: main
          path: upload-sarif-github-action
          token: ${{ secrets.MIDNIGHTCI_REPO }}

      - name: Upload cargo-deny SARIF to Checkmarx
        if: hashFiles('cargo-deny.sarif') != ''
        uses: ./upload-sarif-github-action
        with:
          sarif-file: cargo-deny.sarif
          project-name: midnightntwrk/midnight-node
          cx-client-id: ${{ secrets.CX_CLIENT_ID }}
          cx-client-secret: ${{ secrets.CX_CLIENT_SECRET_EU }}
          cx-tenant: ${{ secrets.CX_TENANT }}
        continue-on-error: true
